body{
    background-image: url("https://images-ext-1.discordapp.net/external/1KbDMr8d51g4PIOclp8gZNAvsxO3DUqmbW-Ygk_tJVA/https/i.imgur.com/z15CCqC.jpg");
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align:center;
    background-color:sandybrown ;
}
h2{
    text-align: center;
}
table,th,td{
    border-style:dotted;
    border-width: 1px;
    border-color: black;
}
a{
    color: sandybrown;
    font-family:'Courier New', Courier, monospace;
}
span{
    padding-left: 50px;
    font-style: italic;
    font-size: small;
}
div{
    padding-left: 50px;
}