<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link rel="stylesheet " href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="img-position">
                <img src="img/back-credit-card.jpg" width="444px" alt="credit-card-back" class="card_back">
                <img src="img/empty-credit-card-template.jpg" width="444px" alt="credit-card-front">

            </div>
            <form action="/" method="POST">
                <input type="text" class="content" name="card_holder_name" id="card_holder_name"
                    placeholder="   Name on card" required>
                <input type="number" class="content" name="card_number" id="card_number" placeholder="   Card number"
                    required>

                <div class="date">

                    <select name="expiry_month" id="expiry_month" class="month">
                        <option value=" ">Expiry Month</option>
                        <option value="01">01</option>
                        <option value="02 ">02</option>
                        <option value="03 ">03 </option>
                        <option value="04">04 </option>
                        <option value="05">05 </option>
                        <option value="06">06 </option>
                        <option value="07">07 </option>
                        <option value="08">08 </option>
                        <option value="09">09 </option>
                        <option value="10">10 </option>
                        <option value="11">11 </option>
                        <option value="12">12 </option>

                    </select>


                    <select name="expiry_year" id="expiry_year" class="year">
                        <option value=" ">Expiry Year</option>
                        <option value="2021">2021</option>
                        <option value="2022 ">2022</option>
                        <option value="2023 ">2023 </option>
                        <option value="2024">2024 </option>
                        <option value="2025">2025 </option>
                        <option value="2026">2026 </option>
                        <option value="2027">2027 </option>
                        <option value="2028">2028 </option>
                        <option value="2029">2029 </option>
                        <option value="2030">2030 </option>
                        <option value="2031">2031 </option>
                        <option value="2032">2032 </option>

                </div>

                <input type="number" class="content" name="CVV" id="CVV" placeholder="   CVV" required>
                <button type="submit" class="add">Add Credit Card</button>

            </form>
        </div>
    </div>
</body>

</html>