*{
    margin: 0;
    padding: 0;
    background-color: blue;
    font-family: 'Uchen', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/a2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    text-align: center;

}
.text-box h1
{
    font-size: 70px ;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
     
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 40px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.8s;

}
