@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap');

* {
    size: 10px;
    font-family: 'Roboto Mono', monospace;
    color:rgb(27, 27, 27);
}

#pokemon h1
{
    font-size: 5em;
}

#pokemon-element
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 2em;
}

#pokemon-ele h2
{
    height: 1em;
    width: 5em;
    -ms-flex-align: center;
}

#pokemon-ele img
{
    height: 10em;
    width: 10em;
}