<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<style>
    body {
        background: #eaeaea;
        color:white;
    }

    .container {
        margin: auto;
        text-align: center;
        font-family: 'Merienda', cursive;
        background-image: url("https://images.unsplash.com/photo-1629022258084-1344bff06e8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80");
        width: 800px;
        height: 600px;
        border-radius: 40px;
        box-shadow: 5px 5px black;
    }

    h1 {
        display:inline-block;
        font-size: 60px;
        margin-top: 100px;
        background-color: transparent;
    }

    #welcome {
        font-size: 40px;
        margin-top: 90px;
    }
</style>

<body>
    <div class="container">
        <h1>HOME PAGE</h1>
        <div id="welcome">Welcome To The Page!</div>
    </div>
</body>

</html>