<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<style>
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Rubik', sans-serif;
    }

    body {
        background: #eaeaea;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 30%;
    }

    .container {
        width: 100%;
        max-width: 500px;
        margin: 10px;
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
    }

    .container h1 {
        width: 100%;
        text-align: center;
        background: #282830;
        padding: 20px;
        color: white;
        border-radius: 5px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        position: relative;
    }

    input {
        width: 100%;
        padding: 15px;
        font-size: 1rem;
        outline: none;
        border: 1px solid #aaa;
        border-bottom: none;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 35px;
    }

    .forgot {
        text-decoration: none;
        color: #777;
        margin: auto;
        margin-left: 0px;
    }

    .button {
        text-decoration: none;
        text-align: center;
        color: white;
        background: #1dabb8;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        width: 30%;
        position: relative;
        top: 10px;
    }
</style>

<body>
    <div class="container">
        <h1 class="heading">LOGIN</h1>
        <form action="/login" method="POST">
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">
            <div class="buttons">
                <a href="/forgot" class="forgot">Forgot Password?</a>
                <button type="submit" class="button">Login</button>
            </div>
        </form>
    </div>
</body>


</html>