<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thanks</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="wrapper">
            <h1 style="text-align: center; margin-bottom: 20px;">Thank you for submitting your data!!</h1>
            <%- include('./partials/goHomeBtn.ejs') %> 
            <%- include('./partials/detailsBtn.ejs') %> 
        </div>
        <script src="/js/mainCard.js"></script>
    </body>
</html>