<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        <div class="heading">
            <h1>UPDATE PASSWORD</h1>
        </div>
        <div class="content">
            <form action="/forget" method="POST">
                <input type="email" placeholder="Email" name="email11">
                <input type="password" placeholder="Enter New Password" name="password11">
                <br>
                <br>
                <button type="submit"><b>Update</b></button>
                <br>
                <br>
            </form>
        </div>
    </div>
</body>

</html>