<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_Register Task</title>
    <style>
        .btn {
            display: inline-block;
            padding: 10px;
            border: 0.125rem solid #e8ddcb;
            border-radius: 2rem;
            background-color: transparent;
            color: #00bfd8;
            font: 700 0.75rem/0 "Raleway", sans-serif;
            text-decoration: none;
            transition: all 0.2s;
        }

        .div {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }
        body {
            background: #1DABB8;
        }
        a{
            text-decoration: none;
            color:white;
        }
    </style>
</head>

<body>
    <div class="div"><button type="button" class="btn"><a href="/login">Login</a></button></div>
    <br>
    <div class="div"><button type="button" class="btn"><a href="/register">Register</a></button></div>
    <br>
    <div class="div"><button type="button" class="btn"><a href="/forget">Reset Password</a></button></div>
</body>

</html>