<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
        <div class="heading">
            <h1>LOGIN</h1>
        </div>
        <div class="content">
            <form action="/login" method="POST">
                <input type="email" placeholder="Email" name="email11">
                <input type="password" placeholder="Password" name="password11">
                <br>
                <br>
                <div class="footer">
                    <div id="circle" class="footer1">?</div>
                    <div class="footer1">
                        <a href = "/forget">Forget Password</a>
                    </div>
                </div>
                <button type="submit"><b>Login</b></button>
                <br>
                <br>
            </form>
        </div>
    </div>
</body>

</html>