<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Password</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/success.css">
    </head>
    <body onload="tokenPresence()">
        <%- include('./partials/footer.ejs') %> 
        <div class="container">
            <h1 class="heading">Change Password</h1>
            <form id="changeForm">
                <h2></h2>
                <input required autocomplete="off" type="password" id="password" placeholder="Password" style="border-bottom: 1px solid #aaa;">
                <div class="btnContainer">
                    <a style="max-width: 140px" href="/profile" class="btn">Back</a>
                    <input type="submit" value="Submit" class="btn" style="max-width: 140px">
                </div>
            </form>
        </div>
        <script src="/js/changePassword.js"></script>
    </body>
</html>