<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('./partials/footer.ejs') %> 
        <div class="container">
            <h1 class="heading">No login detected</h1>
            <form>
                <div class="btnContainer">
                    <a href="/" class="btn" style="max-width: 140px">Sign Up</a>
                    <a href="/login" class="btn" style="max-width: 140px">Login</a>
                </div>
            </form>
        </div>
    </body>
</html>