<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('./partials/footer.ejs') %> 
        <div class="container">
            <h1 class="heading">Forgot Password</h1>
            <form id="forgotForm">
                <input required autocomplete="off" type="email" id="email" placeholder="Email" style="border-bottom: 1px solid #aaa;">
                <div class="btnContainer">
                    <a href="/" class="btn" style="max-width: 140px">Back</a>
                    <input type="submit" value="Submit" class="btn" style="max-width: 140px">
                </div>
            </form>
        </div>
        <script src="/js/forgot.js"></script>
    </body>
</html>